.box{
    width: 400px;
    height: 200px;
    border: 2px solid purple;
    overflow: hidden;
    overflow: scroll;
}
.box2{
    border: 4px solid peru;
    width: 400px;
    height: 200px;
    overflow: hidden;
    overflow: scroll;
}